@using Nop.Core.Infrastructure;
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
img 
{
    margin-bottom: -7px;
}
img:hover
{
    opacity: 0.9;
}
    </style>
</head>
<body>

    <div class="page-title">
        <h1>Behind The Scenes</h1>
    </div>
    <br />
    <center>
        <h3>Take a deeper look into our craft and the Beulah Meadows family.</h3>
    </center>
    <br />

    <div class="w3-content" style="max-width:1500px">
        <center>

            <div class="w3-row" id="myGrid" style="margin-bottom:128px">
                <div class="w3-third">
                    <img src="~/Themes/DefaultClean/Content/images/CampSigns.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/Sheryl.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/Sheryl2.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/SummerSigns.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/SignsOnShelf.jpg" max-width="100%">
                </div>
                <div class="w3-third">
                    <img src="~/Themes/DefaultClean/Content/images/FatCat.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/TomAndSheryl.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/SignsOnTable.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/WorkStation.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/Rayla.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/InStore.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/LastSupper.jpg" max-width="100%">
                </div>

                <div class="w3-third">
                    <img src="~/Themes/DefaultClean/Content/images/GroupClass.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/PalletBoards.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/Stencils.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/WorkingHard.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/Ally.jpg" max-width="100%">
                    <img src="~/Themes/DefaultClean/Content/images/Empty.jpg" max-width="100%">
                </div>

            </div>


        </center>
    </div>

</body>
</html>