@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.Amazon/Content/amazonstyles.css");    
}
<div class="amazon-login-block">
    <div class="title">
        @T("Plugins.ExternalAuth.Amazon.Login")
    </div>
    <div class="buttons">
        <a href="@Url.RouteUrl("Plugin.ExternalAuth.Amazon.Login", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="amazon-btn">
            &nbsp;</a>
    </div>
</div>
